.button-style{
    border-radius: 6px;
    padding: 10px 20px;
    background-color: black;
    border: none;
    color: white;
}
.frist-bg{
    background-image: url("All-item/bg-1.png");
    background-repeat: no-repeat;
    background-position: center;
}



.card{
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px 10px lightgray;

}
.btn-dark{
    padding: 10px 20px;
}
.footer{
    border: none;
    text-align: center;
    padding: 10px;
}
.card img{
    height: 350px;
}


